
@{
    ViewBag.Title = "Arxiki";
}

<h2>Arxiki</h2>

@Html.ActionLink("Απλές Εκθέσεις", "Index", "Home", new { @class = "btn btn-primary", @style = "color:white" })
@Html.ActionLink("Εκθέσεις Συνέχισης Πληστειριασμού", "Plistiriamsos", "Home", new { @class = "btn btn-primary", @style = "color:white" })

