
@{
    ViewBag.Title = "Αρχική";
}

<h2>Αρχική</h2>


<style>
    .mycontainer {
        display: flex;
        flex-direction: column;
        width: 500px;
        justify-content: center;
    }
</style>

<div class="mycontainer">
    @Html.ActionLink("Απλές Εκθέσεις", "Index", "Home", new { @class = "btn btn-primary", @style = "color:white" })
    @Html.ActionLink("Εκθέσεις Συνέχισης Πληστειριασμού", "Plistiriamsos", "Home", new { @class = "btn btn-primary", @style = "color:white" })
</div>

